@import "reset";
@import "variables/global";

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

.App {
  font: var(--font-m);
  min-height: 100vh;
  color: var(--secondary-color);
}

.sfeduSchedule {
  font-weight: bold;
  background-image: -webkit-linear-gradient(0deg, #d391ff 35%, #0be7a9 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
