.Table {
  font-size:12px;
  width: var(--app-width);
  margin: 0 auto;

  .tableTitle {
    text-align: center;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    width: 500px;
  }


  .tableBody {
    td {
      padding: 0.5em;
     height: 120px;
     max-width: 100px;
      white-space: normal;
      /*cursor: pointer;*/
      cursor: default;
      transition: all 0.3s ease-in-out;
   }

    td:hover {
      opacity:0.8;
      transform: scale(0.95)
    }
  }

  .weeksList {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1em;
  }

  .weekButton {
    border-radius: 7px 0 7px 0;
  }

  .weekButton:hover {
    background: #623ad4;
  }

  .weekButton:disabled{
    background: #B100FF;
    color: white;
    opacity: 1;
  }

  .weekButton:disabled:hover{
    background: black;
  }

  @media (width <= 768px) {
    .weeksList {
      display: flex;
      width: 100%;
      padding: 1em;
      overflow: scroll;
      column-gap: 1em;
    }
  }
}