.Table {
  font-size:12px;
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    width: 500px;
  }


  .tableBody {
    td {
      padding: 0.5em;
     height: 120px;
     max-width: 100px;
      white-space: normal;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
   }

    td:hover {
      opacity:0.8;
      transform: scale(0.95)
    }
  }

  .weeksList {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1em;
  }

  @media (max-width: 768px) {
    .weeksList {
      display: flex;
      width: 100%;
      padding: 1em;
      overflow: scroll;
      column-gap: 1em;
    }
  }
}