.FavoriteChoice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
  margin: 0.5em 0;
  width: 100%;
  border-radius: 8px;
  background-color: var(--secondary-color)

}