.SelectVPK {
  max-width: var(--app-width);
  margin: 5vh auto;
  padding: 0 15px;

  h3 {
    text-align: center;
    color: white;
    margin: 0 auto;
    width: fit-content;
  }
}

.hideVPKList {
  display: flex;
  justify-content: center;
  margin-top: 1em;

  button {
    width: 100%;
  }
}

.vpkList {
  margin: 0 auto;
  color: #fff;
  padding: 2vh 0;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, 128px);
  justify-content: space-between;

  button:disabled {
    background: var(--primary-color);
    opacity: 1;
  }

  button:disabled:hover {
    background: var(--primary-color);
    opacity: 1;
  }
}
