.ScheduleCardList {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  padding: 0 5px;
  margin-bottom: 50px;
}

.weekDayBtns {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  justify-content: space-between;
  padding: 1em 5px;
  column-gap: 1em;
}

.groupTitle {
  text-align: center;
}

.groupActions {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.whiteMode {
  color: #000;
  background: #fff;
  border-radius: var(--border-radius);
  font-weight: bold;
  border: 3px dashed var(--chakra-colors-gray-300);
}
