.mainColumns {
  max-width: var(--app-width);
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1em;
  padding: 2em 0;
}
/*

@media screen and (width <= 1120px) {
  .mainColumns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (width <= 1000px) {
  .mainColumns {
    grid-template: "search search" auto "lessons lessons" 1fr / 1fr 1fr;

    div:nth-child(1) {
      grid-area: search;
    }
  }
}

@media screen and (width <= 700px) {
  .mainColumns {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    div:nth-child(2) {
      display: none;
    }

    div:nth-child(3) {
      margin: 0 auto;
      width: 70%;
    }
  }
}

@media screen and (width <= 560px) {
  .mainColumns {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    div:nth-child(2) {
      display: none;
    }

    div:nth-child(3) {
      margin: 0 auto;
    }
  }
}
*/
