.mainColumns {
  max-width: var(--app-width);
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: ". search .";
  div:nth-child(1) {
    grid-area: search;
  }
  grid-gap: 1em;
  padding: 2em 5px;
}

@media screen and (max-width: 1120px) {
  .mainColumns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .mainColumns {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "search search"
      "lessons lessons";
    div:nth-child(1) {
      grid-area: search;
    }
  }
}

@media screen and (max-width: 700px) {
  .mainColumns {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    div:nth-child(2) {
      display: none;
    }
    div:nth-child(3) {
      margin: 0 auto;
      width: 70%;
    }
  }
}

@media screen and (max-width: 560px) {
  .mainColumns {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    div:nth-child(2) {
      display: none;
    }
    div:nth-child(3) {
      margin: 0 auto;
    }
  }
}
