.form {
  width: 100%;
  margin: 0 auto 0.8em 0;
  display: flex;

  button {
    border-radius: 0 5px 5px 0;
  }
}

.input {
  border-radius: 5px 0 0 5px;
}

.choices {
  max-width: var(--app-width);
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  max-height: 33vh;
  overflow-y: scroll;
}

.choice {
  display: block;
  width: 100%;
  justify-content: flex-start !important;
  padding: 0.5em 2em;
  margin: 2px 0;
  background: #262d3f;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1.2px;
}

.choice:hover {
  opacity: 0.8;
}

@media (width <= 767px) {
  .form {
    width: 100%;
    margin: 25px auto;
    display: flex;
  }
}
