.Table {
  margin: 0 auto;
  max-width: var(--app-width);
  font-size: 12px;
  width: 100%;
  margin-bottom: 100px;

  .tableTitle {
    text-align: center;
  }

  thead {
    position: sticky;
    top: 0;
    background: #262d3f;
    z-index: 1;
    color: white;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    width: 500px;
  }

  .tableBody {
    td {
      padding: 0.5em;
      height: 120px;
      max-width: 100px;
      white-space: normal;

      /* cursor: pointer; */
      cursor: default;
      transition: all 0.3s ease-in-out;
      border-right: 1px solid  var(--chakra-colors-chakra-border-color);
    }

    td:hover {
      opacity: 0.8;
      transform: scale(0.95);
    }

    td:first-child {
      text-align: center;
    }
  }

  .weeksList {
    display: flex;
    max-width: 100%;
    width: 100vw;
    justify-content: flex-start;
    column-gap: 20px;
    padding: 1em 0;
    overflow-x: scroll;
  }

  .weekButton {
    border-radius: 7px 0;
  }

  .weekButton:hover {
    opacity: 0.8;
  }

  .weekButton:disabled {
    background: #5b32e2;
    color: black;
    opacity: 1;
  }

  .groupActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .week {
    font-weight: unset;
  }

  @media (width <= 768px) {

    .groupActions {
      align-items: flex-end;

      h2 {
        font-size: 18px;
      }
    }

    .weeksList {
      display: flex;
      width: 100%;
      padding: 1em 0;
      overflow-x: scroll;
      column-gap: 1em;
    }
  }
}
