.ErrorPage {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary-color);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 30px;
    width: 70%;
    margin: 1em auto;
  }


  textarea {
    max-width: 60%;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px dashed var(--primary-color);
    border-radius: .3rem;
    outline: none;
  }

  .helpfulText {
    width: 70%;
    margin: 1em auto;
  }

  button {
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 0.8em;
    font-size: 14px;
    margin: 1em 0;
  }

  .sendButton {
    button {
      width: 60%;
      cursor: pointer;
    }
  }

  .reloadButton {
    button {
      width: 35%;
      cursor: pointer;
      background: var(--primary-color);
    }
  }
}


@media (max-width: 700px) {
  .ErrorPage {
    .reloadButton {
      button {
        width: 60%;
        cursor: pointer;
        background: var(--primary-color);
      }
    }
  }
}
