.Logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logoIcon {
    height: 40px;
    width: 40px;
    border-radius: 8px;
  }
}

.title {
  text-transform: uppercase;
  font-size: var(--font-size-m);
  font-weight: bold;
  margin: 0 10px;
  color: var(--white-color);
}