.Logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logoIcon {
    height: 45px;
    width: 46px;
  }
}

.title {
  text-transform: uppercase;
  font-size: var(--font-size-m);
  font-weight:bold;
  margin-left: 10px;
  color: var(--white-color);
}