.Header {
  padding: 5px 0;
  background-color: var(--chakra-colors-blue-500);

  .headerWrapper {
    width: var(--app-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  svg,
  h1 {
    color: var(--chakra-colors-white);
  }
}

.themeSwitcher {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuBlock {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
