.UpcomingLessonsList {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.whiteMode {
  color: #000;
  background-color: #fff;
  border-radius: var(--border-radius);
  font-weight: bold;
  border: 3px dashed var(--chakra-colors-gray-300);
}

.currentLesson {
  background-color: var(--input-color);
}

@media screen and (width <= 768px) {
  .UpcomingLessonsList {
    display: none;
  }
}
