.WeeksListWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    height:100%;
    padding: 1em 0;
    font-size: 22px;
    background-color: #000;
  }
}

.WeeksList {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  justify-content: flex-start;
  padding: 1em 0;
  column-gap: 1em;
}

.weekButton {
  border-radius: 7px 0;
}
